.container{
  max-width: 1300px;
  width: auto;
  margin-left:100px ;
}
.many-card .container{
  max-width: 1120px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.build .container{
  max-width: 820px;
  width: auto;
  align-items: center;
  text-align: center;
  margin-left: 350px;
}

.plan .container{
  max-width: 1050px;
  margin: auto;
}
